.footer {
    padding: 5px 5px;
    flex-grow: 0;
    color: $light-color-secondary;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        width: 760px;
        max-width: 100%;

        @media #{$media-size-tablet} {
            flex-direction: column;
        }
    }

    &__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 10px;
        color: $light-color-secondary;

        @media #{$media-size-tablet} {
            margin-top: 10px;
            font-size: 5px;
        }

        & > *:not(:last-child)::after {
            content: " • ";
            padding: 0 5px;

            @media #{$media-size-tablet} {
                content: "•";
                padding: 0;
            }
        }

        & > *:last-child {
            padding: 0 0px;

            @media #{$media-size-tablet} {
                padding: 0;
            }
        }
    }
}
