<nav class="menu">
    <ul class="menu__inner">
        {{- $currentPage := . }} {{ range sort .Site.Menus.main ".Identifier" }}
        <li>
            <a href="{{ .URL | relLangURL }}">{{ .Name }}</a>
        </li>
        {{- end }} {{ with $currentPage.Translations }} {{ range .}}
        <li>
            <a
                href="{{ .RelPermalink }}"
                hreflang="{{ .Language.LanguageCode }}"
                >{{ or .Language.LanguageName .Language.Lang }}</a
            >
        </li>
        {{ end }} {{ end }}
    </ul>
</nav>
